Repository philwelz/aksgpt, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, go, documentation

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

go:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.go'
    - '**/*.sum'
    - '.golangci.yml'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'LICENSE'
    - docs/**

Create codeql.yml
  .github/workflows/codeql.yml
Labels: actions

chore: add pull request template and update import paths to use the correct GitHub repository
  .github/PULL_REQUEST_TEMPLATE/pr_template.md
  .github/workflows/codeql.yaml
  .github/workflows/codeql.yml
  cmd/inspect/cluster.go
  cmd/root.go
  docs/SECURITY.md
  main.go
  pkg/cmd/inspect/cluster.go
Labels: actions, go, documentation

chore: add pull request template and update import paths to use the correct GitHub repository (#5)
  .github/PULL_REQUEST_TEMPLATE/pr_template.md
  .github/workflows/codeql.yaml
  .github/workflows/codeql.yml
  cmd/inspect/cluster.go
  cmd/root.go
  docs/SECURITY.md
  main.go
  pkg/cmd/inspect/cluster.go
Labels: actions, go, documentation

chore: update module path to use the correct GitHub repository
  go.mod
Labels: none

chore: update module path to use the correct GitHub repository
  go.mod
Labels: none

Chore/paths (#6)
  go.mod
Labels: none

chore: add pull request template and update README for installation and usage instructions
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: actions

chore: docs (#7)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: actions

docs: enhance README and contributing guidelines for clarity and detail
  README.md
  cmd/inspect/cluster.go
  cmd/inspect/inspect.go
  cmd/root.go
  cmd/version.go
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Labels: go, documentation

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: documentation

Docs/general (#8)
  README.md
  cmd/inspect/cluster.go
  cmd/inspect/inspect.go
  cmd/root.go
  cmd/version.go
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Labels: go, documentation

ci: update dependabot configuration and add golangci-lint workflow
  .github/dependabot.yaml
  .github/workflows/golangci-lint.yaml
Labels: actions

docs: update README with badges for CodeQL, golangci-lint, and Go Report Card
  README.md
Labels: none

ci/restructure (#9)
  .github/dependabot.yaml
  .github/workflows/golangci-lint.yaml
  README.md
Labels: actions

ci: update GitHub workflows for linting and release management
  .github/workflows/golangci-lint.yaml
  .github/workflows/release.yaml
  .gitignore
Labels: actions

ci: update golangci-lint workflow to include specific paths for Go files
  .github/workflows/golangci-lint.yaml
Labels: actions

ci: update GitHub workflows for linting and release management (#10)
  .github/workflows/golangci-lint.yaml
  .github/workflows/release.yaml
  .gitignore
Labels: actions

fix: mv system instruction to own pkg, rm use of aliases
  cmd/inspect/cluster.go
  cmd/version.go
  pkg/ai/openai.go
  pkg/azure/azure.go
  pkg/cluster/anonymize.go
  pkg/cluster/cluster.go
  pkg/instructions/instructions.go
Labels: go

chore: golang lint
  pkg/ai/openai.go
Labels: go

fix: mv system instruction to own pkg, rm use of aliases (#11)
  cmd/inspect/cluster.go
  cmd/version.go
  pkg/ai/openai.go
  pkg/azure/azure.go
  pkg/cluster/anonymize.go
  pkg/cluster/cluster.go
  pkg/instructions/instructions.go
Labels: go

build(deps): bump openai to 0.1.0-beta.2
  cmd/inspect/cluster.go
  cmd/version.go
  go.mod
  go.sum
  pkg/ai/openai.go
Labels: go

Build/openai (#13)
  cmd/inspect/cluster.go
  cmd/version.go
  go.mod
  go.sum
  pkg/ai/openai.go
Labels: go

chore: add support for Azure OpenAI backend
  README.md
  cmd/inspect/cluster.go
  cmd/inspect/inspect.go
  cmd/version.go
  pkg/ai/azure.go
Labels: go

fix: update Azure OpenAI API version to 2024-10-21
  pkg/ai/azure.go
Labels: go

fix: handling the error gracefully
  pkg/ai/azure.go
Labels: go

fix: handle the error graceful
  pkg/ai/openai.go
Labels: go

chore: import log pkg
  pkg/ai/azure.go
Labels: go

fix: replace log error handling with color output
  pkg/ai/azure.go
  pkg/ai/openai.go
Labels: go

chore: add support for azure open ai backend (#14)
  README.md
  cmd/inspect/cluster.go
  cmd/inspect/inspect.go
  cmd/version.go
  pkg/ai/azure.go
Labels: go

chore
  go.mod
Labels: none

build(deps): update golangci-lint configuration and enable additional linters
  .golangci.yml
Labels: go

build(deps): remove gci formatter from golangci-lint configuration
  .golangci.yml
Labels: go

refactor(inspect): improve flag definition formatting for readability
  cmd/inspect/inspect.go
Labels: go

chore: update sensitive fields for anonymization in cluster package
  pkg/cluster/anonymize.go
Labels: go

chore: update sensitive fields for anonymization in cluster package
  pkg/cluster/anonymize.go
Labels: go

chore: update version number to v0.0.5
  cmd/version.go
Labels: go

chore: update version number to v0.0.5
  cmd/version.go
Labels: go

ci: update workflow configurations and add release manifest
  .github/workflows/golangci-lint.yaml
  .github/workflows/release.yaml
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  release-please-config.json
Labels: actions

Ci/init release please (#20)
  .github/workflows/golangci-lint.yaml
  .github/workflows/release.yaml
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  release-please-config.json
Labels: actions

fix: dynamic versioning
  cmd/version.go
  release-please-config.json
Labels: go
